service firebase.storage {
  match /b/{bucket}/o {
    match /{fileId} {
      allow write: if request.auth != null 
      	&& request.resource.size < 50 * 1024 * 1024
        && request.resource.contentType.matches('text/csv')
        && request.resource.metadata["owner"] == request.auth.token.email
        && fileId.size() < 64;
    }
  }
}
